
<div class="flex w-screen h-screen m-0 p-0 justify-center items-center bg-cover bg-no-repeat bg-center bg-[url('https://images.unsplash.com/photo-1605537964076-3cb0ea2ff329?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2032&q=80')]">

  <div class="flex flex-col justify-center items-center px-20 py-10 rounded-xl backdrop-blur-sm sm:py-10 md:p-5">
    <div class="text-white text-center  text-xl">
      
      Bem vindo ao 
      <p class="text-white font-bold text-4xl"> 
        Resort do Kuduairo
      </p>
    
    </div>

    <p class="text-white text-center text-sm pt-10">Somente bailarinos certificados podem visitar as instalações do presidente Gasulaina!</p>

    <div class="flex flex-col items-center mt-5"> 
      <% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to 'Log Out', logout_path %>
      <% else %>

      <a class="mt-10" href= login>
        <button class="bg-white text-black px-6 py-2 rounded-full hover:">
          Entrar
        </button>
      </a>

      <a class="mt-10" href= signup>
        <button class="bg-teal-500 text-white px-6 shadow py-2 rounded-full hover:">
          Registrar
        </button>
      </a>

      <% end %>
    <!-- <p id='notice'><%= notice %></p> -->
    </div>

  </div>

</div>